extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	body(prev-hide, next-hide, menu-hide)

		header.wow.up
			+image('logo.png', 'logo')
		
		section.sec1
			.flex
				+image('img01.png', 'img left')
				.boxText.right
					h1 Contribuições da Assistência Social para a Educação Integral
					p A inter-relação entre a educação integral e a intersetorialidade é essencial para garantir uma abordagem abrangente no desenvolvimento das crianças e adolescentes, especialmente no contexto da educação pública. Muitas dessas crianças possuem necessidades que vão além da sala de aula, demandando uma maior integração entre a Educação e a Assistência Social.
		
		section.sec2
			.box.up
				p Isso se torna particularmente relevante no Brasil, onde há a necessidade de avançar na efetivação dos direitos humanos e na promoção de uma proteção social universal, integrada e democrática.
		
		section.sec3
			p.up Tais medidas são fundamentais para combater o racismo estrutural e enfrentar as desigualdades de gênero e sociais. Contudo, a falta de reformas estruturantes e a implementação ineficaz de políticas públicas têm perpetuado desigualdades agravadas pelos efeitos da colonização e da concentração de riqueza e poder. Esse cenário resulta em um acesso desigual à renda, à riqueza e aos bens produzidos socialmente (Silveira et al., 2021).
			h2 Conheça mais detalhes dessas medidas abaixo:
			.container-accordeon.up
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Sistema Único de Assistência Social (SUAS)
					.accordeon-texto
						p Diante desse contexto, o Sistema Único de Assistência Social (SUAS) emerge como um sistema público,  fundamental para a gestão da assistência social no Brasil. Instituído pela Lei Orgânica da Assistência Social (LOAS), o SUAS é um sistema descentralizado e participativo que tem como objetivo organizar as ações e serviços voltados à proteção social, com especial ênfase em territórios mais desiguais. Sua governança democrática visa a universalização dos serviços de assistência social, priorizando a cobertura de territórios mais afetados pelas desigualdades, desproteções e vulnerabilidades sociais.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Centros de Referência de Assistência Social (CRAS)
					.accordeon-texto
						p <b>O que é?</b>
						p Dentro dessa estrutura, os Centros de Referência de Assistência Social (CRAS) desempenham um papel essencial na promoção da educação integral e na transformação social. Esses centros oferecem suporte às famílias, garantindo não apenas a proteção social, mas também promovendo o desenvolvimento educacional, social e emocional das crianças e adolescentes. Entre as suas principais contribuições estão a oferta de atividades extracurriculares que complementam o currículo escolar tradicional, incluindo oficinas culturais e de arte, além de fortalecer vínculos familiares e comunitários.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Ações do CRAS
					.accordeon-texto
						p As ações do CRAS são especialmente importantes porque permitem uma articulação entre a escola, a família e a comunidade, criando um ambiente propício para o desenvolvimento integral dos alunos. Ao organizar atividades coletivas e oferecer oficinas e demais atividades de acompanhamento e encaminhamentos para demais políticas públicas, com ênfase na redução da pobreza e no fortalecimento de vínculos sociais, os CRAS contribuem significativamente para a redução das vulnerabilidades sociais.
					
		section.sec4.up
			p O principal objetivo do CRAS é prevenir a ocorrência de vulnerabilidades e riscos sociais em territórios marcados pela desigualdade, por meio do fortalecimento das capacidades <b>protetivas e autonomia</b>, da ampliação do acesso a direitos e da promoção de um ambiente de inclusão. 
			p As funções do CRAS incluem a oferta pública de trabalho social com famílias, por meio do Serviço de Proteção e Atenção Integral à Família (PAIF), que visa fortalecer os vínculos familiares e comunitários, <b>por meio do acesso às seguranças socioassistenciais, demais direitos e trabalho social</b>. Além disso, o CRAS oferece o Serviço de Convivência e Fortalecimento de Vínculos (SCFV) e o Serviço de Proteção Social Básica no Domicílio, voltado para pessoas idosas e com deficiência. <b>É no CRAS que os cidadãos se inscrevem no Cadastro Único para programas federais, como Minha Casa Minha Vida e o Bolsa Família</b>.
			.flex
				.flexButton.up(data-modal="#pop1")
					.boxIco
						+image('ico1.png', 'ico')
					button.button
						p PAIF
				.flexButton.up(data-modal="#pop2")
					.boxIco
						+image('ico2.png', 'ico')
					button.button
						p SCFV
				.flexButton.up(data-modal="#pop3")
					.boxIco
						+image('ico3.png', 'ico')
					button.button
						p Proteção Social Básica
				.flexButton.up(data-modal="#pop4")
					.boxIco
						+image('ico4.png', 'ico')
					button.button
						p Primeira Infância
		
		#pop1
			.flexModal
				+image('img05.png', 'img')
				.boxText
					button.modal-close
						+image('close.png', 'ico')
					p.pTitle Serviço de Proteção e Atenção Integral à Família (PAIF):
					p O PAIF oferece um trabalho social continuado com famílias em situação de vulnerabilidade <b>social</b>, com o objetivo de fortalecer a função protetiva das famílias, prevenir a ruptura de vínculos e garantir o acesso a direitos. Esse serviço, oferecido necessariamente no CRAS, também promove ações que visam melhorar a qualidade de vida das famílias por meio de intervenções preventivas, <b>proativas</b> e protetivas.
		
		#pop2
			.flexModal
				+image('img05b.png', 'img')
				.boxText
					button.modal-close
						+image('close.png', 'ico')
					p.pTitle Serviço de Convivência e Fortalecimento de Vínculos (SCFV):
					p.pTitle Esse serviço é realizado em grupos, organizados para garantir o desenvolvimento de aquisições progressivas ao longo do ciclo de vida dos usuários. Ele complementa o trabalho social com as famílias, prevenindo situações de risco social e promovendo a socialização, o fortalecimento dos vínculos familiares e a convivência comunitária. O SCFV possui um caráter preventivo e proativo, estimulando a construção de alternativas <b>emancipatórias</b> para o enfrentamento da vulnerabilidade social. <b>Milhares de adolescentes acessam este serviço em todo o Brasil</b>.
		
		#pop3
			.flexModal
				+image('img05c.png', 'img')
				.boxText
					button.modal-close
						+image('close.png', 'ico')
					p.pTitle Serviço de Proteção Social Básica no Domicílio para Pessoas com Deficiência e Idosas:
					p Com o objetivo de prevenir a ruptura de vínculos familiares e sociais, esse serviço promove a inclusão social, garantindo direitos e incentivando a autonomia das pessoas com deficiência e idosas, além de promover a convivência familiar e comunitária. Ele atua na prevenção de riscos e na promoção da participação social, criando condições para uma convivência mais integrada e inclusiva.
		
		#pop4
			.flexModal
				+image('img05d.png', 'img')
				.boxText
					button.modal-close
						+image('close.png', 'ico')
					p.pTitle Programa Primeira Infância no SUAS:
					p Voltado para famílias com gestantes e crianças na primeira infância, ou seja de 0 a 6 anos de idade, esse programa busca fortalecer os vínculos familiares e comunitários, promover a parentalidade, ampliar o acesso a direitos e garantir o desenvolvimento integral das crianças em situação de vulnerabilidade social. O programa também promove a articulação intersetorial entre os serviços de assistência social e outras políticas públicas, como saúde e educação, garantindo integralidade nos cuidados.
		
		section.sec5
			.flex
				.boxText.left
					h1 Funções da Política de Assistência Social na proteção social mais ampla
					p O sistema de proteção social brasileiro, integrado ao sistema nacional e internacional de direitos humanos, foi construído, historicamente, a partir de princípios como a universalidade e a integralidade. Diretrizes democráticas importantes também orientam a proteção social brasileira, como a descentralização político administrativa, o que demandou reordenamentos, orientados por perspectivas que fomentam a participação social e governanças deliberativas.
				+image('img06.png', 'img right')
		
		section.sec6
			.flex
				+image('img08.png', 'img left')
				.boxText.right
					p A assistência social é uma política de Seguridade Social que se integra à saúde e à previdência social. É uma política pública não contributiva, ou seja, a contribuição para a Seguridade Social não é critério para acesso aos direitos  relacionados à assistência social. Além de não contributiva é considerada um dever do Estado e direito de cidadania a quem dela necessitar a mesma premissa da Educação Integral.
					p A política de Assistência Social é fundamental para garantir a proteção social e o fortalecimento de vínculos familiares e comunitários, de indivíduos e famílias que se encontram em vulnerabilidade social e risco pessoal e/ou social. Neste guia, você terá acesso às orientações essenciais sobre os conceitos básicos da assistência social, suas funções e estratégias que podem ser adotadas para maior integração com a educação, visando a integralidade das atenções.

		section.sec7
			.box.up
				p A Assistência Social objetiva, essencialmente, promover a inclusão social e a equidade; prevenir situações de vulnerabilidade e risco social; fortalecer os vínculos familiares e comunitários; garantir o acesso a direitos e serviços socioassistenciais.
		
		section.sec8
			p.up Na Lei Orgânica de Assistência Social (LOAS – Lei 8.742/93) são objetivos da assistência social previstos no artigo 2º:
			.container-accordeon.up
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Proteção social
					.accordeon-texto
						p A proteção social, que visa à garantia da vida, à redução de danos e à prevenção da incidência de riscos, especialmente:
						p a) a proteção à família, à maternidade, à infância, à adolescência e à velhice;
						p b) o amparo às crianças e aos adolescentes carentes;
						p c) a promoção da integração ao mercado de trabalho;
						p d) a habilitação e reabilitação das pessoas com deficiência e a promoção de sua integração à vida comunitária;
						p e) a garantia de 1 (um) salário-mínimo de benefício mensal à pessoa com deficiência e ao idoso que comprovem não possuir meios de prover a própria manutenção ou de tê-la provida por sua família.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Vigilância socioassistencial
					.accordeon-texto
						p A vigilância socioassistencial, que visa a analisar territorialmente a capacidade protetiva das famílias e nela a ocorrência de vulnerabilidades, de ameaças, de vitimizações e danos.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Defesa de direitos
					.accordeon-texto
						p A defesa de direitos, que visa a garantir o pleno acesso aos direitos no conjunto das provisões socioassistenciais.

		section.sec9
			.box.up
				p Para o enfrentamento da pobreza, a assistência social realiza-se de forma integrada às políticas setoriais, garantindo mínimos sociais e provimento de condições para atender contingências sociais e promovendo a universalização dos direitos sociais.

		section.sec10
			.flex
				+image('img12.png', 'img left')
				.boxText.right
					h1 A função da Proteção Social Básica e Especial
					p A proteção social básica está relacionada a um conjunto de serviços, programas, projetos e benefícios da assistência social que visa prevenir situações de vulnerabilidade e risco social por meio do desenvolvimento de potencialidades e aquisições e do fortalecimento de vínculos familiares e comunitários.
					p Já a proteção social especial expressa um conjunto de serviços, programas e projetos cujo objetivo é contribuir para a reconstrução de vínculos familiares e comunitários, a defesa de direito, o fortalecimento das potencialidades e aquisições e a proteção de famílias e indivíduos para o enfrentamento das situações de violação de direitos.

		section.sec11
			.flex
				.boxText.left
					p As proteções sociais básica e especial são ofertadas pela rede socioassistencial, de forma integrada, diretamente pelos entes públicos e/ou pelas entidades e organizações de assistência social vinculadas ao SUAS, respeitadas as especificidades de cada ação.
					p Para as ofertas da proteção social o SUAS conta com os Centros de Referência de Assistência Social (CRAS); os Centros Especializados de Assistência Social (CREAS); os Centros de Atendimento Especializados para a População em Situação de Rua (Centro Pop); os acolhimentos institucionais, além de Centros de Convivência.
				+image('img13.png', 'img right')

		section.sec12
			p.pTitle Estruturação das provisões da assistência social no Brasil
			p As provisões da assistência social no Brasil são estruturadas em serviços, programas, projetos e benefícios.
			.box.up
				ol
					li
						p <b>Serviços:</b> atividades continuadas que visam à melhoria da vida da população.São ações voltadas para as necessidades básicas dos cidadãos, observando os objetivos e diretrizes estabelecidos em lei. A PNAS prevê seu ordenamento em rede de acordo com os níveis de proteção básica e especial, de média e alta complexidade.
					li
						p <b>Programas:</b> ações integradas e complementares com objetivos, prazo e área de abrangência definidos para qualificar, incentivar e melhorar os benefícios e os serviços assistenciais.
					li
						p <b>Projetos:</b> são investimentos econômicos e sociais, destinados às pessoas em situação de pobreza, que buscam subsidiar técnica e financeiramente iniciativas que garantam a capacidade produtiva e de gestão para a melhoria das condições gerais de subsistência, a elevação da qualidade de vida e a preservação do meio ambiente, em articulação com as demais políticas públicas. De acordo com a PNAS/2004, esses projetos integram o nível de proteção social básica. Contudo, podem voltar-se às famílias e pessoas em situação de risco, público-alvo da proteção social especial.

		section.sec13
			h2.up Veja abaixo detalhes sobre os benefícios da proteção básica e especial:
			.container-accordeon.up
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Benefício de Prestação Continuada (BPC):
					.accordeon-texto
						p Provido pelo governo federal, consiste no repasse de um salário-mínimo mensal ao idoso (com 65 anos ou mais) e à Pessoa com Deficiência que comprovem não ter meios para se sustentar ou de ser sustentado pela família. Esse benefício compõe o nível de proteção social básica, sendo seu repasse feito diretamente ao beneficiário.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Benefícios Eventuais
					.accordeon-texto
						p Têm como objetivo o pagamento de auxílio por natalidade, morte ou para atender necessidades originadas de situações de vulnerabilidade temporária, com prioridade para a criança, a família, o idoso, a pessoa com deficiência, a gestante e em casos de calamidade pública. Esse benefício deve ser custeado pelos municípios.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Transferência de Renda
					.accordeon-texto
						p Programas de transferência monetária direta para as famílias inscritas no Cadastro Único, com o objetivo de combater a fome e promover o alívio imediato da pobreza; contribuir para a interrupção do ciclo de reprodução da pobreza entre as gerações; promover o desenvolvimento e a proteção social das famílias, especialmente das crianças, dos adolescentes e dos jovens em situação de pobreza; fortalecer o acesso a direitos sociais básicos nas áreas de educação, saúde e assistência social. As ações complementares têm como objetivo o desenvolvimento das famílias e a superação de sua situação de vulnerabilidade social, por meio da articulação intersetorial com outras políticas. O Programa Bolsa Família tem tais dimensões e objetivo e está presente em todos os municípios brasileiros, porém é importante lembrar que os municípios, o Distrito Federal e os estados podem efetuar a complementação do valor da transferência ou instituírem programas próprios com estes mesmos objetivos e dimensões.
				.corpbtn
					button.accordeon-title
						.boxImg
							+image('arrowaccordeon.svg', 'ico')
						p Cadastro Único - CADÚNICO
					.accordeon-texto
						p Instrumento de identificação por meio de cadastramento alto declarado de famílias em situação de pobreza e vulnerabilidade socioeconômica. Mas também recebe informações de outras bases de dados. Atualmente, subsidia mais de 33 programas federais e programas estaduais, do Distrito Federal e municipais. Embora seja de gestão e financiamento federal, sua execução é realizada pelos municípios, Distrito Federal, no atendimento direto às famílias e pessoas. Atualmente, o CADÚNICO vem se consolidando como uma importante ferramenta para a construção de diagnóstico socioterritorial, subsidiando estudos e a vigilância socioassistencial. O cadastro está presente em todos os municípios brasileiros.

		footer
			+image('logo-footer.png', 'imgFooter up')

block scripts
	script(src="script.js")